In [1]:
import sqlite3

In [7]:
con = sqlite3.connect("stud.db")

In [8]:
cur=con.cursor()

In [9]:
q="create table if not exists stud(sid int primary key,name text)"

In [10]:
cur.execute(q)

In [33]:
con.commit()

In [12]:
q2 = "create table if not exists stud_details(sid int primary key,city text not null,mobileno number not null,FOREIGN KEY (sid) references stud(sid))"

In [13]:
cur.execute(q2)

In [51]:
con.commit()

In [52]:
    q="insert into stud values(?,?)"
    l=[]   
    for i in range(10):
        sid=int(input("Enter student id:"))
        name=input("Enter student name: ")
        t=(sid,name)
        l.append(t)
    cur.executemany(q,l)
    con.commit()

Enter student id:1
Enter student name: om
Enter student id:2
Enter student name: sai
Enter student id:3
Enter student name: ram
Enter student id:4
Enter student name: radha
Enter student id:5
Enter student name: krishna
Enter student id:6
Enter student name: shiv
Enter student id:7
Enter student name: kisan
Enter student id:8
Enter student name: gopi
Enter student id:9
Enter student name: krish
Enter student id:10
Enter student name: raj

IntegrityError: UNIQUE constraint failed: stud.sid

In [36]:
    q1="insert into stud_details values(?,?,?)"
    l=[]   
    for i in range(10):
        sid=int(input("Enter student id:"))
        city=input("Enter student city:")
        mobileno=int(input("Enter student mobile nub:"))

        t=(sid,city,mobileno)
        l.append(t)
    cur.executemany(q1,l)
    con.commit()

Enter student id:1
Enter student city:surat
Enter student mobile nub:8141416152
Enter student id:2
Enter student city:baroda
Enter student mobile nub:5674893490
Enter student id:3
Enter student city:surat
Enter student mobile nub:7865453256
Enter student id:4
Enter student city:bardoli
Enter student mobile nub:7867547890
Enter student id:5
Enter student city:navsari
Enter student mobile nub:8767548901
Enter student id:6
Enter student city:surat
Enter student mobile nub:7890876541
Enter student id:7
Enter student city:bardoli
Enter student mobile nub:8980765643
Enter student id:8
Enter student city:bharuch
Enter student mobile nub:8797239621
Enter student id:9
Enter student city:baroda
Enter student mobile nub:8116165488
Enter student id:10
Enter student city:navsari
Enter student mobile nub:9876569198

3. Display whose student come from the Surat City.

In [49]:
q1="select * from stud_details where city='surat' "

In [45]:
cur.execute(q1)

In [46]:
cur.fetchall()

[(1, 'surat', 8141416152), (3, 'surat', 7865453256), (6, 'surat', 7890876541)]

In [53]:
con.commit()

 4.Display student details whose city name start with 'B'.

In [57]:
q2="select * from stud_details where city LIKE 'b%'"

In [58]:
cur.execute(q2)

In [59]:
cur.fetchall()

[(2, 'baroda', 5674893490),
 (4, 'bardoli', 7867547890),
 (7, 'bardoli', 8980765643),
 (8, 'bharuch', 8797239621),
 (9, 'baroda', 8116165488)]

 5.Update mobileno who are coming from 'Surat'

In [70]:
q3="update stud_details set mobileno=9876569198 where city='surat'and sid=10"

In [71]:
cur.execute(q3)

In [73]:
con.commit()